In [3]:
import numpy as np
import pylab as pl
import pandas as pd
import datetime
import os
#from os.path import isfile, join
import glob

%matplotlib inline

In [4]:
savepath = '/home/marslast/Downloads/CTT/'
beeps = pd.read_pickle(os.path.join(savepath,'beeps.pkl'))
locs = pd.read_pickle(os.path.join(savepath,'nodeLocations.pkl'))

In [7]:
# List of nodes
nodes = np.unique(beeps.dropna().NodeId)

array(['37506e', '375fb3', '3765fd', '376e52', '376f0d', '377107',
       '37736b', '377502', '3777d2', '377a20', '37852d', '378567',
       '37858f', '378932', '378a8a', '378d7b', '378f60', '379c29',
       '37a65b', '37a846'], dtype=object)

In [11]:
#beeps['Time'].duplicated()
multiples = beeps.pivot_table(index=['Time'], aggfunc='size').reset_index()
multiples.rename(columns={0: 'Counts'},inplace=True)
times = multiples[multiples.Counts>1].Time

In [13]:
multiples.head()

                  Time  Counts
0  2023-05-11 23:21:02       1
1  2023-05-11 23:21:46       1
2  2023-05-11 23:22:00       1
3  2023-05-11 23:22:15       1
4  2023-05-11 23:22:26       1

In [37]:
t = beeps['Time'].duplicated()
inds = np.where(t==True)
inds = inds[0][:500]
df = beeps.iloc[inds,:]

In [21]:
df = beeps.groupby(beeps['Time'])

In [38]:
df.head()

                       Time  RadioId     TagId  TagRSSI  NodeId  Validated
114251  2023-05-11 23:22:58        1  3466612D     -109  377107          0
114188  2023-05-11 23:22:58        1  3466612D     -109  376f0d          0
114209  2023-05-11 23:23:13        1  3466612D      -69  37858f          0
114210  2023-05-11 23:23:27        1  3466612D      -69  37858f          0
114267  2023-05-11 23:23:42        1  3466612D     -107  37736b          0

In [43]:
a = beeps[beeps.TagId==np.unique(beeps.TagId)[1]]
t = a['Time'].duplicated()
inds = np.where(t==True)
print(inds)

(array([   10,    23,    56, ..., 12648, 12649, 12650]),)

In [65]:
maxl = 0
time = ""
count = 0
for i in range(100):#len(inds[0])):
    if (a.Time.iloc[inds[0][i]] == time):
        count+=1
    else:
        if count>maxl:
            maxl = count
        count = 0
        time = a.Time.iloc[inds[0][i]]
        
print(maxl)

6

In [41]:
for t in np.unique(beeps.TagId):
    print(np.shape(beeps[beeps.TagId==t])[0])

53403
12653
271949
58958

In [57]:
range(len(inds[0]))

range(0, 8662)