In [3]:
import numpy as np
import pylab as pl
import pandas as pd
import datetime
import os
#from os.path import isfile, join
import glob

%matplotlib inline

In [4]:
savepath = '/home/marslast/Downloads/CTT/'
beeps = pd.read_pickle(os.path.join(savepath,'beeps.pkl'))
locs = pd.read_pickle(os.path.join(savepath,'nodeLocations.pkl'))

In [7]:
# List of nodes
nodes = np.unique(beeps.dropna().NodeId)

array(['37506e', '375fb3', '3765fd', '376e52', '376f0d', '377107',
       '37736b', '377502', '3777d2', '377a20', '37852d', '378567',
       '37858f', '378932', '378a8a', '378d7b', '378f60', '379c29',
       '37a65b', '37a846'], dtype=object)

In [8]:
beeps['Time'].duplicated()
multiples = beeps.pivot_table(index=['Time'], aggfunc='size').reset_index()
multiples.rename(columns={0: 'Counts'},inplace=True)
times = multiples[multiples.Counts>1].Time

In [10]:
times

9         2023-05-11 23:22:58
11        2023-05-11 23:23:13
13        2023-05-11 23:23:27
15        2023-05-11 23:23:42
17        2023-05-11 23:23:56
                 ...
142668    2023-06-16 04:21:53
142670    2023-06-16 04:22:08
142671    2023-06-16 04:22:23
142672    2023-06-16 04:22:38
142673    2023-06-16 04:22:39
Name: Time, Length: 85197, dtype: object